header{
	position: fixed;
  	z-index: 3;
  	width: 100%;
  	left: 0;
  	top: 0;
}

.js .nav-collapse {
	clip: rect(0 0 0 0);
  	max-height: 0;
  	position: absolute;
  	display: block;
  	overflow: hidden;
  	zoom: 1;
}